.heroi{
    color: royalblue;
    font-size: 1.4em;
}
    .vilao{
color: darkred;
font-size: 1.4em;
font-style: italic;
    }
    #titulo {
        color: crimson;
        text-align: center;
        font-size: 2.5em;
    }
    #subtitulo {
    color: gray;
    text-align: center;
    font-style: italic;
    }
    #frase-final {
background-color: black;
color: gold;
text-align: center;
font-size: 1.2em;
    }